/*TODO ID COMEÇAMOS COM #*/
/*TODA CLASS COMEÇAMOS COM . (PONTO)*/


#poema {
	color: red; /*INSERE COR VERMELHO NO ID POEMA*/
}

.frases {
	color: blue; /*INSERE COR AZUL NA CLASS FRASES*/
}

#PARAGRAFOS_COM_DIV { /*INSERE COR VERMELHO NA DIV "PARÁGRAFOS COM DIV"*/
	color: red;
}

			/*CSS DAS UNIDADES DE MEDIDA DO INDEX.HTML*/

#cm{
	background-color: RED; 
	width: 1CM;
	height: 1cm;
}

#mm{
	background-color: blue;
	width: 5mm;
	height: 5mm;
}

#in{
	background-color: yellow;
	width: 0.5in;
	height: 0.5in;
}

#px{
	background-color: orange;
	width: 50px;
	height: 50px;
}

#pt{
	background-color: black;
	width: 40pt;
	height: 40pt;
}

.container{
	font-size: 20px;
}

.container2{
	font-size: 2em;
}

.container3{
	font-size: 2rem;
}

.container4{
	font-size: 20px;
	width: 50vw;
	background-color: yellow;
}

.container5{
	font-size: 20px;
	width: 50vh;
	background-color: lightgreen;
}

.container6{
	width: 30vmin;
	background-color: lightblue;
}

.container7{
	width: 30vmax;
	background-color: lightseagreen;
}

.container8{
	width: 40%;
	background-color: lightgrey;
}

#margin{								/*SERVE PARA CRIAR MARGENS AO REDOR, FORA DO BACKGROUND*/
	width: 100px;						/*USANDO APENAS "MARGIN" SÃO CRIADAS MARGENS EXTERNAS EM TODOS OS LADOS*/
	background-color: indianred;		/*EXISTEM: MARGIN-TOP (ACIMA) - MARGIN-BOTTOM (ABAIXO) - MARGIN-LEFT E MARGIN-RIGHT*/
	margin : 10px;
}

#padding{								/*SERVE PARA CRIAR MARGENS INTERNAS, DENTRO DO BACKGROUND*/
	width: 100px;						/*USANDO APENAS "PADDING" SÃO CRIADAS MARGENS INTERNAS EM TODOS OS LADOS*/
	background-color: cadetblue;		/*EXISTEM: PADDING-TOP (ACIMA) - PADDING-BOTTOM (ABAIXO) - PADDING-LEFT E PADDING-RIGHT*/
	padding: 10px;
}

#border{
	width: 120px;						/*CUMPRIMENTO DA BORDA*/
	height: 17px;						/*ALTURA DA BORDA*/
	border-style: solid;				/*ESTILO (SOLIDA, PONTILHADA, TRACEJADA) DA BORDA*/
	border-color: black;				/*COR DA BORDA*/
	border-radius: 7px;					/*EXPESSURA DA BORDA*/
}

#dotted{
	width: 165px;						/*É POSSIVEL ALTERAR SOMENTE UM LADO DA BORDA COM "BORDER-TOP, BORDER-BOTTOM, BORDER-RIGHT, BORDER-LEFT"*/
	height: 17px;
	border-style: dotted;		
	border-color: yellowgreen;
	border-radius: 7px;
}

#dashed{
	width: 154px;
	height: 17px;
	border-style: dashed;
	border-color: orangered;
	border-radius: 7px;
}

#bordafacil{						/*NESSE FORMATO É POSSÍVEL CRIAR AS BORDAS INSERINDO APENAS A EXPESSURA, ESTILO E COR"*/
	border: 2px solid	orangered;
}