
/* ZERA AS MARGENS DO BODY */
body{                       
    padding: 0;
    margin: 0;

}

.cont1{
    background-color: red;
    padding: 8px;
    border: 7px solid green;
    margin: 15px;

}

/* AINDA EXISTE O "OUTLINE" QUE NAO FAZ PARTE DO BOX MODEL E SOBREPÕE OS DEMAIS (PADDING, MARGIN, BORDER...)*/

.cont2{
    background-color: gray;
    border: 5px solid yellowgreen;
    padding: 10px;
}

#quadrado{
    background-color: gray;
    height: 250px;
    width: 250px;
    border: 10px solid yellow;
}

/* USANDO O BOX-SIZING = OBRIGA O ELEMENTO A MANTER O PADRÃO DE TAMANHO DAS BORDAS (BORDER-BOX) */

#quadrado2{
    background-color: burlywood;
    height: 250px;
    width: 250px;
    border: 10px solid red;

    box-sizing: border-box;
}
