#link2:visited{
    color: green;
}

#link3{
    color: black;
    text-decoration: none;
    border: 5px solid orange;
    border-radius: 8px;
    padding: 3px;
    }

#link3:hover{
    background-color: black;
    color: orange;
    border-color: black;
}

#link4{
    color: blue;
    text-decoration: none;
    border: 5px solid greenyellow;
    border-radius: 8px;
    padding: 3px;
    }

#link4:active{
    color: yellowgreen;
    background-color: blue;
    border-color: blue;
}
