
/* AQUI PEDIMOS UMA FONTE QUE NAO EXITE/INDISPONIVEL NO PC DO USUÁRIO E DEIXAMOS UMA FONTE SECUNDÁRIA (COMIC SANS MS) CASO A PRIMEIRO DE ERRADO */
/* PARA CASOS ONDE O NOME POSSUI MAIS DE 1 PALAVRA, USAMOS ASPAS */
/* TAMBEM INSERIMOS UM TERCEIRO ELEMENTO "SANS-SERIF" PARA INFORMAR QUE CASO A SEGUNDA FONTE NAO FUNCIONE, QUE SEJA UTILIZADA UMA FONTE SEM SERIFA */
/* FONT-WEIGHT DEFINE A EXPESSURA (ESPECIE DE NEGRITO) QUANDO USAMOS NUMERAÇÃO OU POMDEMOS USAR O BOLD (NEGRITO) */
#texto1{
    font-size: 20px;
    font-family: fontepedro, "comic sans ms", sans-serif;
    font-weight: 100;
}


